<h3>Json pipe</h3>
<p>{{person1 | json}}</p>
<p>{{person2 | json}}</p>
<h3>Upper/lower pipe</h3>
<p>{{person1.firstName | uppercase}}</p>
<p>{{person1.firstName | lowercase}}</p>
<h3>date pipe</h3>
<p>{{mydate|date:'dd/MM/yyyy'}}</p>
<p>{{mydate | date:'longDate'}}</p>
<h3>currency pipe</h3>
<p>{{price | currency}}</p>
<h3>decimal pipe</h3>
<p>{{5.12345| number:'1.1-3' }}</p>
<h3>slice pipe</h3>
<p>{{'angular' | slice:0:3}}</p>
<h3>percent pipe</h3>
<p>{{0.12 | percent}}</p>
<h3>custom pipe</h3>
<p>{{person1.firstName | upper}}</p>